/* Retira el scrol del input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.marco input{
  margin-bottom: 15px;
  
}

.marco {
  /* border: solid #000000 1px;*/
  margin: auto;
  width: min-content;
  padding: 20px;
  background-color: #e4afafd2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titulo {
  border-bottom: 1px solid#d4d3db;
  margin: auto;
  margin-bottom: 25px;
}

.enviar {
  background-color: #f7f2f2;
}

.enviar:hover {
  color: rgb(241, 236, 236);
  background-color: rgb(0, 0, 0);
}

.reset {
  text-decoration: underline;
  background-color: #fafafa;
}

.reset:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}


.alertaNota{
  display: none;
  background-color: rgb(255, 251, 0);
  margin-top: -10px;
  padding: 0px zpx;
  
  border: 2px solid rgb(255, 196, 0);
  border-radius: 20px;
}