#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8b0006;
    color: white;
  }
  .icono{
      width: 30px ;
  }

  .catalogo ul {
    list-style: none;
    text-decoration: none;
    color: white;
}

.catalogo .sigan {
    display: inline;
    background-color: #ff0909;
    margin: 10px;
    padding: 5px;
 
    padding-bottom: 6px;
    padding-top: 4px;
 
}
.catalogo .sigan a{
    text-decoration: none;
    color: #ffffff;
}

.catalogo li {
    display: inline;
}

.catalogo select {
    background-color: #ff0909;
    color: #ffffff;
    border: none;
    padding: 5px;
    margin: 10px;
}